body {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 30px;
}

h2 {
   font-size: 20px; 
}

h3 {
    display: inline;
    font-size: 20px;
    margin: 0px 10px 0px 10px;
}

#landing {
    display: table;
    width: 100% ;
    height: 100% ;
    background: url("img/balloon-3.jpg") no-repeat center;
    background-size: cover;
}
#home{
    display:inline;
    width:100%;
    height:100%;
    background-color:#c9ddfc;
}

#ad{
    background:linear-gradient(#e66465,#9198e5);
    border-radius: 15px
}
#ka{
    padding-left:25px;
    color:grey;
}

.text-vertical-center {
    text-align: center;
        vertical-align: middle;
        display: table-cell;
        color: white;
}

@media (min-width: 768px) {
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 25px;
    }
    h3 {
        font-size: 30px;
    }
    #home-heading{
        padding-left:500px;
    }
}

@media (min-width: 992px) {
    h1{
        font-size:40px;
    }
    h2{
        font-size: 30px;
    }
    #home-heading{
        padding-left: 375px;
    }
}


@media (min-width: 1200px) {
    h1{
        font-size:45px;
    }
    h2{
        font-size: 35px;
    }
    #home-heading{
        padding-left:600px;
    }
    
}
