body {
    width: 100%;
    height: 100%;
}

h3 {
    display: inline;
    font-size: 10px;
    margin: 0px 10px 0px 10px;
    padding-top: 20px;
}

#landing {
    display: table;
    width: 100% ;
    height: 100% ;
    background: url("img/balloon-3.jpg") no-repeat center;
    background-size: cover;
}
#home{
    display:inline;
    width:100%;
    height:100%;
    background-color:blue;
}
#ad{
    background-color:lightBlue;
    border-radius:15px;
    width:100%;
    height:75%;
}
#ka{
    padding-left:25px;
    color:grey;
}
#home-heading{
    color:
    
}
#info {
    
}

#gallery {
    
}

#testimonials {
    
}

#contact {
    
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
}

@media (min-width: 768px) {
    h1{
        font-size: 50px;
    }
    h3 {
        font-size: 20px;
    }
    #home-heading{
        padding-left:500px;
    }
}

@media (min-width: 992px) {
    h1{
        font-size:70px;
    }
    h3 {
        font-size: 40px;
    }
    #home-heading{
        padding-left: 375px;
    }
}


@media (min-width: 1200px) {
    h1{
        font-size:90px;
            
        
    }
    h3 {
        font-size: 60px;
    }
    #home-heading{
        padding-left:600px;
    }
    
}
