html,
body {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

nav h3 {
    display: inline;
    font-size: 20px;
    margin-left: 10px;
}

#testimonials{
    background-color: lightGrey;
}

#landing {
    display: table;
    width: 100%;
    height: 100%;
    background: url("img/balloon-3.jpg") no-repeat center;
    background-size: cover;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
}

#home {
    width: 100%;
    height: 100%;
}


@media (min-width: 768px) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 30px;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
}


@media (min-width: 1200px) {
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 35px;
    }

    #home-heading {
        padding-left: 600px;
    }

}
